/* Styles généraux */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EBF2E8; /* Couleur de fond principale */
    color: #244F76; /* Couleur de texte principale */
    line-height: 1.6;
  }
  
  header {
    background-color: #244F76; /* Couleur d'en-tête */
    color: #EBF2E8; /* Couleur de texte de l'en-tête */
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Pour positionner le texte au centre */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 80px; /* Logo agrandi */
    height: 80px; /* Logo agrandi */
    margin-left: 50px;
  }
  
  h1 {
    margin: 0;
    font-size: 28px; /* Taille de police augmentée */
    font-weight: 500;
    position: absolute; /* Position absolue pour centrer */
    left: 50%; /* Déplace à 50% de la largeur */
    transform: translateX(-50%); /* Centre parfaitement */
  }
  
  /* Navigation Admin */
  .admin-nav {
    background-color: #52859E; /* Couleur de fond de la navigation */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .admin-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .admin-nav ul li {
    margin: 0 15px;
  }
  
  .admin-nav ul li a {
    text-decoration: none;
    color: #EBF2E8; 
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .admin-nav ul li a:hover {
    color: #9AD0C2; 
  }
  
  footer {
    background-color: #244F76; 
    color: #EBF2E8; 
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }